body {
    color: white;
    background: black;
text-align: center;
font-size: 1.1em;
    line-height: 1.5;
margin: 0;
font-family: Arial, Helvetica, sans-serif;

}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3 {
    margin: 0;
    padding: 1.5em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.button {
    display: inline-block;
    color: white;
    background: gray;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid black;
    margin: 3em 0;
}
.button:hover{
    color: black;
    background: white;
}

#showcase {
    max-height: 450px;
    color: white;
    text-align: center;
}
#showcase .bg{
position: absolute;
background: darkgray 
url("https://static.pexels.com/photos/248515/pexels-photo-248515.png") ; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 450px;
z-index: -1;
opacity: 0.6;

}
#showcase .content-wrap,
#section-1 .content-wrap {
    padding: 0 2em;
}

#showcase h1 {
    padding-bottom: 0;
    padding-top: 100px;
}

#section-1 {
    background: white;
    color: black;
padding-bottom: 2em;
}

#section-2 {
    background: gray;
}
#section-2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#section-2 li {
    background: white;
    color: black;
    margin-bottom: 1em;
    max-width: 25%;
    min-width: 20%;
}
.card-content {
    padding: 1.5em;
}
#section-3 {
    background: white;
    color: black;
    padding: 2em;
}
#section-4 .box {
    color: white;
    padding: 2em;
}
#section-4 .box:first-child {
    background: rgb(61, 61, 214);
}
#section-4 .box:last-child {
    background: gray;
}
#footer {
    padding: 2em;
text-align: center;
}
#footer a {
    text-decoration: none;
    color: rgb(9, 137, 211);
}
#section-2 ul {
    display: flex;
justify-content: space-around;

}
#section-1 .content-text {
    columns: 2;
    column-gap: 1em;
    padding: 1em;

}

.content-wrap,
#section-2 ul {
    grid-column: 2/4;
}
#section-2 li {
    width: 31%;
}
